patterns/.settings/*
patterns/.project
patterns/.classpath
patterns/target/*
patterns/.idea/
leetcode/.classpath
leetcode/.project
leetcode/.settings/*
leetcode/bin/*
effective-java/.classpath
effective-java/.project
effective-java/.settings/*
effective-java/target/*
